language: python
sudo: false
addons:
  apt:
    packages:
      - gcc
      - libgrib-api-dev
notifications:
  email: false
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.4"
  - "3.5"
install:
  # You may want to periodically update this, although the conda update
  # conda line below will keep everything up-to-date.  We do this
  # conditionally because it saves us some downloading if the version is
  # the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
      downgrade_libnetcdf=false;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      downgrade_libnetcdf=true;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -n base conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -n esa_cci_sm python=${TRAVIS_PYTHON_VERSION}
  - source activate esa_cci_sm
  - conda env update -f environment.yml

  - python setup.py develop
  - if "$downgrade_libnetcdf" ; then
      conda install -c conda-forge libnetcdf==4.3.3.1 --yes;
    fi

  - conda list
  - pip list
  - which pip
  - which python

script:
  - python setup.py test
after_success:
  # report coverage results to coveralls.io
  - pip install coveralls
  - coveralls

