# List of dependecies for using the package
# Add your requirements here like:
# numpy
# scipy>=0.9
numpy
pandas
pygeobase
netcdf4==1.2.2
configparser
pyresample
repurpose
pynetcf
repurpose
parse
smecv_grid